@font-face {
  font-family: 'Brygada Regular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/brygadaRegular.otf') format("opentype");
}

@font-face {
  font-family: 'Brygada Bold';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/brygadaBold.otf') format("opentype");
}

body {
    background-color: rgba(127, 247, 127, 0.56);
    font-family: 'Brygada Regular', sans-serif;
    margin: 0;
}

html{
    min-height: 100%;
    position: relative;
}

#header {
    text-align: center;
    margin: 3%;
    font-size: 2em;
}

#description_div {
    background-color: #ffffff;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 8%;
}

#description {
    padding-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

#footer {
    text-align: center;
    position: absolute;
    width: 100%;
    min-height: 15%;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(127, 247, 127, 0.8);
}

#div_options {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#options li {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    height: 7%;
}

#options {
    padding: 0;
}

.chooser {
    border-top: 1px solid #ffffff;
}

.chooser:hover {
    background-color: #f2f2f2;
}

h2, h3{
    text-align: center;
}

hr {
    margin-top: 3%;
    margin-bottom: 3%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.recipeImg {
    border-radius: 20px;
}

.slide-left-right
{
    text-decoration:none;
    display: inline-block;
    color:black;
}
.slide-left-right:after 
{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease; 
    -webkit-transition: width .5s ease, background-color .5s ease; 
    -moz-transition: width .5s ease, background-color .5s ease; 
}
.slide-left-right:hover:after 
{
    width: 100%;
    background: black;
}

#dialog{
    display: none;
}


a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}